@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.painel-do-usuario {
    padding: 10px 0 18px 0;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    width: 375px;
    height: max-content;
    background-color: var(--secondary-color);
    border-radius: 5px;
    display: none;
}

.painel-do-usuario-all-content {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-painel-info-wrapper {
    padding: 10px 0 10px 0;
    margin-bottom: 10px;
    background-color: rgb(34, 31, 31);
    font-weight: 400;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    height: 80%;
    border-radius: 5px;
    position: relative;
}

.avatar-img-wrapper {
    overflow: hidden;
    width: 100px;
    height: 100px;
    border: 2px solid var(--secondary-color);
    margin-left: 10px;
    color: var(--primary-color);
    border-radius: 5px;

}
.avatar-img-wrapper img {
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.usuario-info-wrapper {
    width: 60%;
    color: var(--primary-color);
}

#nome-usuario {
    color: wheat;
    font-size: 2rem;
    text-transform: capitalize;
    font-family: var(--title-font);
}

#level-up-span {
    position: absolute;
    bottom: 50%;
    color: yellow;
    text-shadow: 1px 1px 5px yellow;
    opacity: 0;
    transform: translateY(0);
}

#xp-span {
    position: absolute;
    color: rgb(40, 180, 99);
    text-shadow: 2px 2px 5px rgb(40, 180, 99);
    font-size: 1rem;
    font-family: var(--title-font);
    bottom: 12.3px;
    left: 200px;
    opacity: 0;
    transform: translateY(0);
}

#lv-usuario {
    color: wheat;
    margin-top: 10px;
    font-size: 1.2rem;
    font-family: var(--title-font);
}

#lv-usuario strong {
    color: white;
    font-family: var(--title-font);
}

#xp-usuario {
    color: wheat;
    margin-top: 10px;
    font-family: var(--title-font);
}

#xp-usuario strong {
    color: white;
    font-family: var(--title-font);
}

#adicionar-tarefa {
    position: absolute;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    font-size: 1.5rem;
    padding: .4rem .4rem;
    border-radius: 5px;
    right: 0.7rem;
    bottom: 1.6rem;
    cursor: pointer;
}





.habitos-wrapper {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.habitos-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    height: 95%;
    background-color: rgb(34, 31, 31);
    border-radius: 8px;
    list-style: none;
}

.habito-comum {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin-top: 5px;
    width: 97%;
    height: 50px;
    background-color: rgba(253, 253, 253, 0.486);
    border-radius: 8px;
    padding:0 0 0 10px;
    background-color:  rgb(29, 27, 27);
    -moz-box-shadow:    inset 0 0 10px rgb(40, 180, 99);
    -webkit-box-shadow: inset 0 0 10px rgb(40, 180, 99);
    box-shadow:         inset 0 0 10px rgb(40, 180, 99);
}

.habito-raro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin-top: 5px;
    width: 97%;
    height: 50px;
    background-color: rgb(253, 253, 253);
    border-radius: 8px;
    padding:0 0 0 10px;
    background-color:  rgb(29, 27, 27);
    -moz-box-shadow:    inset 0 0 10px rgb(25, 52, 243 );
    -webkit-box-shadow: inset 0 0 10px rgb(25, 52, 243 );
    box-shadow:         inset 0 0 10px rgb(25, 52, 243 );
} 

.habito-epico {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin-top: 5px;
    width: 97%;
    height: 50px;
    background-color: rgb(253, 253, 253);
    border-radius: 8px;
    padding:0 0 0 10px;
    background-color:  rgb(29, 27, 27);
    background-color:  black;
    -moz-box-shadow:    inset 0 0 10px var(--primary-color);
    -webkit-box-shadow: inset 0 0 10px var(--primary-color);
    box-shadow:         inset 0 0 10px var(--primary-color);
} 


.habito-lendario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin-top: 5px;
    width: 97%;
    height: 50px;
    background-color: rgb(253, 253, 253);
    border-radius: 8px;
    padding:0 0 0 10px;
    background-color:  rgb(29, 27, 27);
    -moz-box-shadow:    inset 0 0 10px rgb(255,69,0);
    -webkit-box-shadow: inset 0 0 10px rgb(255,69,0);
    box-shadow:         inset 0 0 10px rgb(255,69,0);
} 


.habit-icon-wrapper button {
    font-size: 1.7rem;
    margin-right: 10px;
    cursor: pointer;
    background: none;
    border: none;
    color: white;
}
