@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.painel-do-usuario {
    padding: 10px 0 18px 0;
    display: flex;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    width: 375px;
    height: 670px;
    background-color: black;
    position: absolute;
    border-radius: 5px;
    display: none;
}

.painel-do-usuario-all-content {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-painel-info-wrapper {
    font-family: 'Press Start 2P', cursive;
    font-weight: 400;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
    height: 80%;
    background-color: var(--primary-color);
    border-radius: 5px;
}

.avatar-img-wrapper {
    overflow: hidden;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    margin-left: 10px;
}
.avatar-img-wrapper img {
    object-fit: cover;
    width: 100px;
    height: 100px;
}

.usuario-info-wrapper {
    width: 60%;
    color: white;
}

#nome-usuario {
    font-size: 2rem;
    text-transform: capitalize;
}

#lv-usuario {
    margin-top: 10px;
    font-size: 1.2rem;
}

#xp-usuario {
    margin-top: 10px;
}


.habitos-wrapper {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.habitos-content {
    width: 85%;
    height: 95%;
    background-color: white;
    border-radius: 2px;
}


